BasedOnStyle: LLVM

UseTab: Always
IndentWidth: 4
TabWidth: 4
PointerAlignment: Left
ReferenceAlignment: Left
IndentCaseLabels: false
NamespaceIndentation: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortEnumsOnASingleLine: true
SpaceAfterTemplateKeyword: false
SpaceBeforeCaseColon: false
Cpp11BracedListStyle: false
FixNamespaceComments: false
AccessModifierOffset: -4
ColumnLimit: 0

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false